<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/3a144234b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <section class="encabezado">
            <div class="logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            <div class="barra-busqueda">
                <form action="/busqueda" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas, etc.." class="input-busqueda">
                    <label for="buscador"><i class="fas fa-search"></i></label>
                </form>
            </div>
            <div class="cuotas-tarjeta">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito.
            </div>
        </section>
        <nav class="navegador">
            <ul type="circle" class="site">
                <li class="navhead"><a href="#">Ofertas</a></li>
                <li class="navhead"><a href="#">Vender</a></li>
                <li class="navhead"><a href="#">Tiendas Oficiales</a></li>
                <li class="navhead"><a href="#">Ayuda</a></li>
            </ul>
            <ul type="circle" class="navegador-usuario">
                <li class="navhead"><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li class="navhead"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="navhead"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger fa-2x"></i>
        </div>
    </header>
    <section class="banner-img">
        <img src="/img/img-home-banner.jpg" alt="banner">
    </section>
    <main>
        <section>
            <strong class='titulares'>
                Basado en tu última visita
            </strong>
            <br>
            <nav class="listado-articulos-visita">
                <article class="articulo">
                    <img src="/img/img-cafetera-moulinex.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$6.770</h3>
                            <h5 class="descuentos">40% off</h5>
                        </article>
                        <h6 class="descripciones">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/img/img-macbook-pro-2019.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$230.000</h3>
                            <h5 class="descuentos">20% off</h5>
                        </article>
                        <h6 class="descripciones">MacBook Pro 2019</h6>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/img/img-samsung-galaxy-s10.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$70.500</h3>
                            <h5 class="descuentos">10% off</h5>
                        </article>
                        <h6 class="descripciones">Samsung Galaxy S10</h6>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/img/img-tv-samsung-smart.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$23.200</h3>
                            <h5 class="descuentos">5% off</h5>
                        </article>
                        <h6 class="descripciones">SmartTv Samsung 43"</h6>
                    </div>
                </article>
            </nav>
        </section>
        <section>
            <strong class="titulares">
                Ofertas
            </strong>
            <br>
            <nav class="listado-articulos-oferta">
                <article class="articulo">
                    <img src="/img/img-cafetera-moulinex.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$6.770</h3>
                            <h5 class="descuentos">40% off</h5>
                        </article>
                        <h6 class="descripciones">Cafetera Moulinex</h6>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/img/img-macbook-pro-2019.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$230.000</h3>
                            <h5 class="descuentos">20% off</h5>
                        </article>
                        <h6 class="descripciones">MacBook Pro 2019</h6>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/img/img-samsung-galaxy-s10.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$70.500</h3>
                            <h5 class="descuentos">10% off</h5>
                        </article>
                        <h6 class="descripciones">Samsung Galaxy S10</h6>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/img/img-tv-samsung-smart.jpg">
                    <div>
                        <span class="camion">
                            <i class="fas fa-truck"></i>
                        </span>
                        <article>
                            <h3 class="precios">$23.200</h3>
                            <h5 class="descuentos">5% off</h5>
                        </article>
                        <h6 class="descripciones">SmartTv Samsung 43"</h6>
                    </div>
                </article>
            </nav>
        </section>
    </main>
    <footer>
        <section class="pie-general">
            <article class="apartado-pie">
                <i class="fas fa-credit-card fa-2x"></i>
                <p class="pie-resaltado">Pagá con tarjeta o en efectivo</p>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y
                    siempre es seguro!
                </p>
            </article>

            <article class="apartado-pie">
                <i class="fas fa-gift fa-2x"></i>
                <p class="pie-resaltado">Envío gratis desde $2500</p>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos
                </p>
            </article>

            <article class="apartado-pie">
                <i class="fas fa-user-shield fa-2x"></i>
                <p class="pie-resaltado">Seguridad, de principio a fin</p>
                <p>
                    No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estas
                    protegid@
                </p>
            </article>

        </section>
        <section>
            <p class="copyright">Copyright @1999-2020 Mercado Liebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>